<div class="row">
    <div class="col-xs-10">
        <ul class="list-group ">
            <li class="list-group-item clearfix">
                <div class="col-xs-5">
                    <p>Items</p>
                </div>
                <div class="col-xs-5">
                    <p>Date</p>
                </div>
                <div class="col-xs-2">
                    <p>Option</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="col-xs-5">
                    <p>Items</p>
                </div>
                <div class="col-xs-5">
                    <p>Date</p>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-danger">Remove</button>
                </div> 
            </li>
        </ul>
    </div>
</div>