<div class="row">
    <div class="col-xs-10">
        <app-list-edit></app-list-edit>
        <hr>
        <ul class="list-group " *ngIf="tasks">
            <li class="list-group-item clearfix">
                <div class="col-xs-5">
                    <p>Items</p>
                </div>
                <div class="col-xs-5">
                    <p>Detail</p>
                </div>
                <div class="col-xs-2">
                    <p>Option</p>
                </div>
            </li>
            <li class="list-group-item clearfix" *ngFor="let task of tasks; let i = index" >
                <div class="col-xs-5">
                    <p>{{task.taskName}}</p>
                </div>
                <div class="col-xs-5">
                    <p>{{task.taskDetails}}</p>
                </div>
                <div class="col-xs-2">
                    <div class="btn-group " appDropdown>
                        <button type="button" class="btn btn-primary dropdown-toggle ">
                            Manage task <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a style="cursor: pointer" (click)="onEditRecipe(i)" >Edit</a></li>
                            <li><a style="cursor: pointer" (click)="onSendToCompleted(i)">Send to Completed</a></li>
                            <li><a style="cursor: pointer" (click)="onDelete(i)">Delete</a></li>
                        </ul>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>